<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.forest.forscreenrecord">
    <!--            android:foregroundServiceType="mediaProjection" -->
    <application>
        <service android:name=".RecorderService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>